/* Begin: Author Exposed Styles */

.mydiv {
	width: 330px;
	padding: 0px 0 15px 0;
	position: relative;
	position: absolute;
	display: block;
	background: #fff;
	border: #4e4e4e 5px solid;
	
/*fonts*/
	
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	font-weight: normal;
	color: #2B2B2B;
	overflow: hidden;
}

.mydiv span.ae_top {
	width: 100%;
	
	background: url(../img/ae_bg.gif);
	display: block;
	line-height: 30px;
}

.mydiv span.ae_top b {
	padding-left: 10px;
}

.mydiv span.ae_about {
	width: 310px;
	display: block;
	padding: 15px 10px 0px 10px;
}

.mydiv span.ae_body {

	width: 225px;
	padding: 10px 10px 0px 10px;
	display: block;
	overflow: hidden;
}

.mydiv span.ae_close {
	background: #4e4e4e;
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	padding: 1px 2px 0 5px;
}

.mydiv span.ae_close a {
	color: #FFF !important;
	text-decoration: none !important;
}

/* Gravatar Photo */

.mydiv img {
	background:none repeat scroll 0 0 #FFFFFF !important; border-bottom:1px solid #D7D7D7; border-left:1px solid #F2F2F2; border-right:1px solid #F2F2F2; height:auto; padding:5px;
	width: 70px;
	height: 70px;
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	margin: 0 !important;		
}

/* Link Styling */

.mydiv a {
	background: none !important;
	border: 0 !important;
	text-decoration: underline !important;
	color: #58bf25 !important;
}

.mydiv a:hover {
	text-decoration: none !important;
}

/* End Author Exposed Styles */